html,
body {
    margin-right: 0;
    padding: 0;
    height: 100%;
}

.navbar a {
    text-decoration: none;
    color: teal;
  }
  
  .navbar {
    padding: 0px;
    width: 150px;
    text-align: right;
    margin: 0;
  }

  
  ul {
    list-style: none;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 15px;
  }
  
  .img {
    float: left;
    height: 115px;
    margin-right: 15px;
    display: flex;
    width: 165px;
  }
  .container {
    display: inline-flex;
  }

  .contactcontainer {
display:inline-flex;
width:100%;

  }
.contactcontainer main {
width:100%;


}

  main {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 285px;
    margin: right 400px;
  }



  form {
    border: 1px solid #ccc;
    padding: 1rem;
  }
  
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
  }
  
  /* HEADER STYLES*/
  header {
    background-color: teal;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  
  Footer {
    background-color: teal;
    padding: 0.5rem;
    text-align: center;
    color: white;
  
  }
  
  
  @media screen and (max-width: 600px) {
    
    
    ul {
        flex-direction:row;
        display:inline-flex;
        margin-bottom:0;
        padding-bottom:0;
        padding-left:15px;
       }    


       li, a {
        display: inline-flex;
        text-align: center;
        flex-direction: row;
        margin-right:0.25rem;
        margin-top:0rem;
        margin-bottom:0rem;
        padding-left:  0.25rem;;
       } 
       .container {
        display:flex;
        flex-direction: column;
        margin-left:0px;
        margin-right:0px;
       }

       .main {
        margin-left:0px;


       }
       .footer {
        position: absolute;
        bottom:0;
        width:100%;
        height: 1.5rem;
        }
       }
    